# Unity-generated folders if this code is placed inside a Unity project.
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.suo
.DS_Store
Thumbs.db
